/installation.png
/installation1.png
/locale.png
/opening screen.png
/password.png
/port.png
/Postgresql installation_edit_0.gif
/Screenshot 2022-12-21 133301.png
/Screenshot 2022-12-21 134629.png
/stack_builder.png